<table>
    <thead>
        <tr>
            <th>Browser and device</th>
            <th>Added on</th>
            <th>IP Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if trusted_devices is empty %}
            <tr class="twofas-light-no-devices-row">
                <td colspan="4" class="twofas-light-no-devices-column">
                    <h5>You don't have any trusted devices</h5>
                </td>
            </tr>
        {% else %}
            {% for device_id, trusted_device in trusted_devices %}
                <tr>
                    <td>
                        {{ describe_device(trusted_device.user_agent) }}
                    </td>
                    <td data-timestamp-to-format="{{ trusted_device.timestamp|e('html_attr') }}">
                        {{ timestamp_to_wp_datetime(trusted_device.timestamp) }}
                    </td>
                    <td>
                        {{ trusted_device.ip }}
                    </td>
                    <td>
                        <button class="twofas-light-trusted-devices-remove js-twofas-light-remove-trusted-device" data-device="{{ device_id }}">
                            <span class="twofas-light-icon twofas-light-icon-remove twofas-light-icon-remove-dims"></span>
                            <span>Remove</span>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
