<div class="twofas-light-card">
    <div class="twofas-light-card-step">
        <div class="twofas-light-card-step-box">
            <h6>Step</h6>
            <span class="twofas-light-card-step-number">1</span>
        </div>
    </div>

    <p class="twofas-light-card-description">
        Download app to your smartphone to start using tokens.
        We recommend 2FAS Authenticator or Google Authenticator,
        but feel free to choose your favourite app.
    </p>

    <div class="twofas-light-card-mobile-apps">
        <div class="twofas-light-card-mobile-apps-left">
            <div class="twofas-light-card-mobile-apps-img-wrapper">
                <div class="twofas-light-card-mobile-apps-img-container">
                    <img src="{{ twofas_plugin_path ~ '/includes/img/2fas-auth-phone.png' }}" alt="2FAS Auth" />
                    <div class="twofas-light-card-mobile-apps-logo">
                        <img src="{{ twofas_plugin_path ~ '/includes/img/logo-red.svg' }}" alt="2FAS">
                    </div>
                </div>
            </div>
            <div class="twofas-light-card-mobile-apps-desc">
                <h4>2FAS Authenticator</h4>
                <div class="twofas-light-card-mobile-apps-desc-shop">
                    <a href="https://play.google.com/store/apps/details?id=com.twofasapp" target="_blank" rel="noopener">
                        <img src="{{ twofas_plugin_path ~ '/includes/img/google-play.png' }}" alt="2FAS Auth - Google Play" />
                    </a>
                    <a href="https://itunes.apple.com/us/app/2fas-auth/id1217793794?mt=8" target="_blank" rel="noopener">
                        <img src="{{ twofas_plugin_path ~ '/includes/img/app-store.png' }}" alt="2FAS Auth - App Store" />
                    </a>
                </div>
            </div>
        </div>
        <div class="twofas-light-card-mobile-apps-right">
            <div class="twofas-light-card-mobile-apps-img-wrapper">
                <div class="twofas-light-card-mobile-apps-img-container">
                    <img src="{{ twofas_plugin_path ~ '/includes/img/google-auth-phone.png' }}" alt="Google Authenticator" />
                    <div class="twofas-light-card-mobile-apps-logo">
                        <img src="{{ twofas_plugin_path ~ '/includes/img/google-authenticator.png' }}" alt="Google Authenticator">
                    </div>
                </div>
            </div>
            <div class="twofas-light-card-mobile-apps-desc">
                <h4>Google Authenticator</h4>
                <div class="twofas-light-card-mobile-apps-desc-shop">
                    <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2" target="_blank" rel="noopener">
                        <img src="{{ twofas_plugin_path ~ '/includes/img/google-play.png' }}" alt="Google Authenticator - Google Play" />
                    </a>
                    <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8" target="_blank" rel="noopener">
                        <img src="{{ twofas_plugin_path ~ '/includes/img/app-store.png' }}" alt="Google Authenticator - App Store" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>