{% if twofas_light_login_error is not null %}
    {{ login_header('Enter your token', '', twofas_light_login_error) }}
{% else %}
    {{ login_header('Enter your token', '') }}
{% endif %}

<form method="post" action="{{ login_form_action_url }}" id="twofas-light-loginform" class="twofas-light-login-form">
    <p class="login-username">
        <label for="twofas_code">Enter your token:</label>
        <input type="text"
               name="twofas_light_totp_token"
               id="twofas_code"
               autocomplete="off"
               minlength="6"
               maxlength="6"
               pattern="\d{6}"
               title="Six digits"
               required="required"
               autofocus="autofocus" />
    </p>

    {% if rememberme is not empty %}
        <input name="rememberme" type="hidden" value="{{ rememberme }}" />
    {% endif %}

    {% if redirect_to is not empty %}
        <input name="redirect_to" type="hidden" value="{{ redirect_to }}" />
    {% endif %}

    {% if testcookie is not empty %}
        <input name="testcookie" type="hidden" value="{{ testcookie }}" />
    {% endif %}

    {% if interim_login is not empty %}
        <input name="interim-login" type="hidden" value="{{ interim_login }}" />
    {% endif %}

    {% if customize_login is not empty %}
        <input name="customize-login" type="hidden" value="{{ customize_login }}" />
    {% endif %}

	{% if twofas_light_login_redirect is not empty %}
		<input name="twofas_light_login_redirect" type="hidden" value="{{ twofas_light_login_redirect }}" />
	{% endif %}

    {% if twofas_light_save_device_as_trusted %}
        <p class="forgetmenot">
            <input type="checkbox"
                   name="twofas_light_save_device_as_trusted"
                   id="twofas_light_device_checkbox"
                   checked="checked" />
            <label for="twofas_light_device_checkbox">Remember device</label>
        </p>
    {% else %}
        <p class="forgetmenot">
            <input type="checkbox" name="twofas_light_save_device_as_trusted" id="twofas_light_device_checkbox" />
            <label for="twofas_light_device_checkbox">Remember device</label>
        </p>
    {% endif %}

    <p class="submit">
        <input class="button button-primary button-large" type="submit" name="wp-submit" id="wp-submit" value="Log In" />
    </p>

    <div class="twofas-light-login-bottom-nav">
        <div class="twofas-light-login-bottom-nav-message">
            {% if interim_login is not empty %}
                <a href="{{login_url}}?interim-login={{ interim_login }}">Log in to another account</a>
            {% else %}
                <a href="{{login_url}}">Log in to another account</a>
            {% endif %}
        </div>
    </div>
</form>

{{ login_footer() }}
